body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

}


.container{
    
    display: flex;
    flex-direction: column;
    margin: 10em 0 0 0;
}

.container p{
    
    align-self: center;
    font-size:12pt;
}

#globe{

    align-self: center;
}


form{
    
    color: black;
    align-self: center;
    text-align: center;
    outline-color: black;
}

#search{

    text-align: center;
}







#submit{
    
    color:black;
    padding: 8px 0 0 8px;
    margin-top:1em;
    align-self: center;
}


#random{
    
    display:inline-block;
    color:black;
    padding: 8px 0 0 8px;
    margin-top:1em;
    align-self: center;
}

.outer{
    
    margin: 0 10em 0 10em;
    background-color: #e7e7e7;   
}

.outer:hover{
    
    border-left: 5px solid #ff9d42;
}



.title{
    
    padding: 0.5em 0 0 1em;
}


.excerpt{
    
    font-size:9pt;
    padding: 0 0 0.5em 1em;
}

